body,
html {
	height: 100%;
	display: grid;
    
   
}
body{
    /* background-color: linear-gradient(); */
    background-image: url("https://64.media.tumblr.com/3c0634e3406bbc914fe9d620df4205fc/tumblr_ozfgxxmZ921sb5osho1_400.gifv");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.pattern1 {
	width: 500px;
	height: 600px;
	margin: auto;
    border-radius: 5px;
	background-color: #36995fa1;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYm_bSTquaMA_tMp_M-sWrgmeageATUCDI4tR5fqeqNN8Ct1lekpGBdIpCMi_IoINpoCQ&usqp=CAU"); */
    background-image: url("http://cdn.cnn.com/cnnnext/dam/assets/190906133209-isleworth-mona-lisa-super-tease.jpg"), url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.7'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") ;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-size: 100%; */
    background-blend-mode:multiply;
    /* background-clip: border-box; */
    border-radius: 3px;
    border: 6px solid rgb(235, 238, 65);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    animation: rgb 2s infinite;
}

@keyframes rgb{
    0% {background-color: #36995fa1;}
    10% {background-color: #367699a1;}
    15% {background-color: #364d99a1;}
    20% {background-color: #364599a1;}
    25% {background-color: #383699a1;}
    30% {background-color: #683699a1;}
    35% {background-color: #993689a1;}
    40% {background-color: #993650a1;}
}

.about{
    display: flex;
    justify-content: center;

}
.about h3{
    font-size: 32px;
    color: rgb(216, 133, 24);
}

footer{
    
	display:flex;
	justify-content:flex-end;
    align-items: flex-end;
	margin-top:20px;
    bottom: 0;
    position: sticky;
}
footer a {
    text-decoration: none;
    color: #333;

}
@media screen and (max-width:650px) {
    .pattern1{
        width: 300;
        height: 400;
    }
    .about h3{
        font-size: 24px;
    }
}
